
.header{
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

.btn{
    padding-left: 10px ;
    padding-right: 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: whitesmoke;
}
.btn.export{
    background-color: olive;
}
.btn.import{
    background-color: orchid;
}
.container{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-content: center;
}
.subheader{
    color: rgb(153, 150, 150);
    font-size: medium;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}